In [1]:
from pandas.io.html import read_html
page = 'https://dashboard.kerala.gov.in/hotspots.php'

wikitables = read_html(page,  attrs={"class":"table table-bordered table-striped table-hover table-sm sortable"})

print ("Extracted {num} wikitables".format(num=len(wikitables)))
wikitables[0]

Extracted 1 wikitables

,Sl. No.,District,LSGs needing special attention,Containment Zones (Ward)
0,1,Palakkad,Akathethara,"2, 3"
1,2,Palakkad,Alanallur,"1, 14, 20"
2,3,Palakkad,Ambalappara,"7, 20"
3,4,Palakkad,Anakkara,"2, 13"
4,5,Palakkad,Chittoor-Thathamangalam,25
...,...,...,...,...
117,118,Kottayam,Kangazha,3
118,119,Kottayam,Koruthodu,8
119,120,Kottayam,Thrikkodithanam,17
120,121,Wayanad,Sulthan Bathery (M),"6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 22,23, 24..."
121,122,Idukki,Kumali,14